* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #002d31;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#app h1 {
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #0004;
  padding: 1rem;
  margin: 3.2rem 0;
}
